* { 
    margin: auto;
    padding: 0px;
}


.body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    background-color: black;
    align-items: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container{
    height: 50px;
    width: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    background: darkblue;
    color: white;
}

.box{
    height: 50px;
    width: 650px;
    border: 1px solid green;
    text-align: center;
}

.box1{
    height: 50px;
    width: 650px;
    border: 1px solid black;
    text-align: center;
}

.card-container1{
    height: 120px;
    width: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box2{ 
    height: 50px;
    width: 150px;
    border: 1px solid black;
    margin-left: 80px;
}

.box3{
    height: 50px;
    width: 400px;
    border: 1px solid black;
    font-size: 15px;
    margin-right: 20px;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  background: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: grey;
}

.dropdown-content a:hover {
  background-color: darkblue;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
   color: rgb(19, 61, 19);
    font-weight: bolder;
    font-style: italic;
}

.card-container2{
    height: 700px;
    width: auto;
    border: 1px solid black;
}

.box4{
    height: 700px;
    width: auto;
    border: 1px solid black;
}

.card-container3{
    height: 700px;
    width: auto;
    border: 1px solid black;
}

.box5{
    height: 700px;
    width: auto;
    border: 1px solid black;
}


.card-container4{
    height: auto;
    width: 100%;
    max-width: 1050px;
    border: 1px solid black;
    box-sizing: border-box;
}

.box6{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    max-width: 1050px;
    box-sizing: border-box;
    border: 1px solid black;
}

.info{
    text-align: center;
    height: auto;
    width: 100%;
    max-width: 1050px;
    font-size: 2.5rem;
    box-sizing: border-box;
    border: 1px solid black;
    text-shadow: 1px 1px black;
}

.info1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    max-width: 1050px;
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 50px;
}

.services{
    height: auto;
    width: 48%;
    min-width: 220px;
    max-width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-right: 20px;
}

.services1{
    height: auto;
    width: 48%;
    min-width: 220px;
    max-width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 20px;
}


/* Responsive: Stack columns on small screens */
@media (max-width: 900px) {
    .card-container4,
    .box6,
    .info,
    .info1 {
        max-width: 100%;
        width: 100%;
        margin: 10px auto;
    }
    .info {
        font-size: 1.5rem;
    }
    .info1 {
        flex-direction: column;
        align-items: center;
    }
    .services,
    .services1 {
        width: 95%;
        max-width: 400px;
        margin: 10px auto;
    }
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 20px auto;
    aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: none;
}


.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: 20px auto;
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
}
